<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{% static 'img/xfavicon.png.pagespeed.ic.cKJTr5CYBe.png' %}" type="image/png">
<title>{{ title }}</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css%2c_bootstrap.css%2bvendors%2c_linericon%2c_style.css%2bcss%2c_font-awesome.min.css.pagespeed.cc.e4Dn8S7n8C.css' %}"/>
<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/lightbox%2c_simpleLightbox.css%2bnice-select%2c_css%2c_nice-select.css%2banimate-css%2c_animate.css%2bpopup%2c_magnific-popup.css%2bflaticon%2c_flaticon.css.pagespeed.cc.WVGn6qK5oZ.css' %}"/>
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/A.responsive.css.pagespeed.cf.jEmYmGbeR7.css' %}">
</head>

<body>
<header class="header_area">
<div class="main_menu">
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container box_1620">
<!-- Brand and toggle get grouped for better mobile display -->
<a class="navbar-brand logo_h" href="index-2.html"><img src="{% static 'img/xlogo.png.pagespeed.ic.ybCFtmOVIZ.png' %}" alt=""></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
<ul class="nav navbar-nav menu_nav ml-auto">
<li class="nav-item active"><a class="nav-link" href="index-2.html">Home</a></li>
<li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
<li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
<li class="nav-item submenu dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
<ul class="dropdown-menu">
<li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
</ul>
</li>
<li class="nav-item submenu dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
<ul class="dropdown-menu">
<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
</ul>
</li>
<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
</ul>
</div>
</div>
</nav>
</div>
</header>
{% block content %}{% endblock %}
<footer class="footer_area p_120">
<div class="container">
<div class="row footer_inner">
<div class="col-lg-5 col-sm-6">
<aside class="f_widget ab_widget">
<div class="f_title">
<h3>About Me</h3>
</div>
<p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,</p>
<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
</aside>
</div>
<div class="col-lg-5 col-sm-6">
<aside class="f_widget news_widget">
<div class="f_title">
<h3>Newsletter</h3>
</div>
<p>Stay updated with our latest trends</p>
<div id="mc_embed_signup">
<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" class="subscribe_form relative">
<div class="input-group d-flex flex-row">
<input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required type="email">
<button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
</div>
<div class="mt-10 info"></div>
</form>
</div>
</aside>
</div>
<div class="col-lg-2">
<aside class="f_widget social_widget">
<div class="f_title">
<h3>Follow Me</h3>
</div>
<p>Let us be social</p>
<ul class="list">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
<li><a href="#"><i class="fa fa-behance"></i></a></li>
</ul>
</aside>
</div>
</div>
</div>
</footer>
</body>
<script src="{% static 'js/jquery-3.3.1.min.js.pagespeed.jm.r0B4QCxeCQ.js' %}"></script>
<script src="{% static 'js%2c_popper.js%2bjs%2c_bootstrap.min.js%2bjs%2c_stellar.js%2bvendors%2c_lightbox%2c_simpleLightbox.min.js.pagespeed.jc.Y4_5BZvxrC.js' %}"></script><script>eval(mod_pagespeed_LoPqpPxbp4);</script>
<script>eval(mod_pagespeed_gBGYoxDp5N);</script>
<script>eval(mod_pagespeed_e6tU13xvwE);</script>
<script>eval(mod_pagespeed_$2plQsdXRt);</script>
<script src="{% static 'vendors/nice-select%2c_js%2c_jquery.nice-select.min.js%2bisotope%2c_imagesloaded.pkgd.min.js%2bisotope%2c_isotope.pkgd.min.js%2bowl-carousel%2c_owl.carousel.min.js.pagespeed.jc.GyUmoE5nkf.1f.delay' %}"></script><script>eval(mod_pagespeed_jV93_NpLNy);</script>
<script>eval(mod_pagespeed_hlYQ0Ut1IP);</script>
<script>eval(mod_pagespeed_1eoPFCMana);</script>
<script>eval(mod_pagespeed_saF4BYUOj1);</script>
<script src="{% static 'vendors%2c_popup%2c_jquery.magnific-popup.min.js%2bjs%2c_jquery.ajaxchimp.min.js%2bvendors%2c_counter-up%2c_jquery.waypoints.min.js%2bvendors%2c_counter-up%2c_jquery.counterup.min.js%2bjs%2c_mail-script.j' %}"></script><script>eval(mod_pagespeed_D3CkPcQY0U);</script>
<script>eval(mod_pagespeed_aLwyqp$bkl);</script>
<script>eval(mod_pagespeed_EXtL18Azjz);</script>
<script>eval(mod_pagespeed_1yLNWoCMC$);</script>
<script>eval(mod_pagespeed_GW6m60L9pg);</script>
<script>eval(mod_pagespeed_On6azQNiVm);</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-23581568-13');</script>
{% block extrajs %}{% endblock %}
</html>